*{
}

body{
  height: auto;
  width: 99%;
  background-image: url("https://live.staticflickr.com/65535/50387900761_691518017d_b.jpg");
}
.PageContent{
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin-bottom: 2%;

}

.Background{
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.HeadderBox {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 90%; 
  height: 12vh; 
  border: 3px solid black;
  margin-top: 2%;
}

.NavBar {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 100%; 
  height: 6vh; 
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}


.NavTab{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 33.3%;
  height: 100%;
  color: white;
  background-color: #000;
  text-decoration: none;
  border: 1px solid black;
}

.NavTab2{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 33.3%;
  height: 100%;
  color: white;
  background-color: #000;
  text-decoration: none;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.NavTab:hover:not(.active), .NavTab2:hover:not(.active) {
  background-color: #555;
}



.SubTitle{
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  height: 9vh;
  width: 96%;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}


.FormType1{
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  height: 18vh;
  width: 96%;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.InputFeild1{
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  height: 9vh;
  width: 100%;
}

.HalfInput{
  width: 47%;
  height: 60%;
}





.FormType2{
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  height: 28vh;
  width: 96%;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.InputFeild2{
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}

.ThirdInput{
  width: 30%;
  height: 55%; 
}

.SubtitleAndButtons{
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%; 
}

.Buttons{
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 17%; 
  display: none;
}

.AddSubtract{
  width: 45%;
  height: 45%;
  font-size: max(.8vw, 4.5px);
}

.SubmitBox{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 96%;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.SubmitButton{
  width: 80%;
  height: 60%;
}

